/*Hepta-Slab & Helvatica are the main fonts*/

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#l-background {
    background-color: #121212;
    height: 200vh;
    width: 100vw;
}

#navbar {
    z-index: 2;
    position:fixed;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 5%;
    transition: 500ms all;
    padding-bottom: 0;
}

#nav-items {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;    
    
    color: #F5F5F5;
    font-size: clamp(10px, 1vw, 20px);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

#nav-border {
    width: 0;
    margin-top: 7px;
    content: "";
    height: 2px;
    background-color:#F5F5F5;
    transition: 500ms;
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}


#navbar::before {
    transition: 1000ms;
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    height: 100%;
    background-color: #24252a;
    transform: skewX(45deg);
    z-index: -1;
    width: var(--width);
}


.navbar-item {
    font-family: 'Manrope';
    font-size:medium;
    font-weight: bold;
    color: #F5F5F5;
    font-size: clamp(10px, 1vw, 20px);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.navbar-hover {
    --s: 0.1em;   
    --c: white;

    padding-bottom: var(--s);
    background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
}

.navbar-hover:hover {
    --_p: 100%;
    text-shadow: 4px 4px 20px rgba(255, 255, 255, 0.5);
}

#navbar-date {
    text-align: right;
}

#car-wrapper {
    position: absolute;
    width: clamp(max(30vw, 30vh), 30vw, 50vh);
    height: 140vh;
    background-color: #F5F5F5;
    transform: translate(50vw, -10vh) rotate(7deg);
}