@font-face {
    font-family: 'myglaos'; 
    src: url('myglaos-axmyj.ttf');
}

* {
    transition: 0.3s;
    margin: 0;
}

:root {
    --main-bg-color: none;
    --main-text-color: none;
    --emphasis-text: none;
    --secondary-bg-color: none;

    --radius: 7vw;
	--frame-size: calc(var(--radius) / 3);
	--d-outer: calc(var(--radius) * 2);
    --d-inner: calc(var(--d-outer) * 0.5);

    --highlight-rows: 7;
}

@media (orientation: portrait) {
    :root {
        --radius: 10vh;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#greeting {
    z-index: 50;
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms ease-out, border-bottom-right-radius 350ms ease-out, border-bottom-left-radius 350ms ease-out;
}

#greeting-text {
    font-family: 'myglaos';
    color: black;
    font-size: 7vw;
}

#l-background {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
}

#navbar {
    background-color: var(--main-bg-color);
    z-index: 4;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 10%;
    transition: 300ms ease-out;
}

#nav-items {
    margin: 1%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    
    color: var(--main-text-color);
}

#nav-border {
    position: relative;
    width: 0;
    content: "";
    height: 2px;
    background-color: var(--main-text-color);
    transition: 300ms ease-out;
}


.navbar-item {
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    color: var(--main-text-color);
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.underline-hover {
    --s: 0.1em;   
    --c: var(--emphasis-text);

    padding-bottom: var(--s);
    background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 300ms ease-out;
}

.underline-hover:hover {
    --_p: 100%;
}

#navbar-date {
    text-align: right;
}

.image {
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: absolute;   
}

#lbg-bg-wrapper {
    background-color: black;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 140%;
    height: 200%;
}

#lbg-bg-wrapper::before {
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(255,255,255,0) 100%),
                linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
}

#lbg-bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 70%;
}

#cover-info {
    z-index: 2;
    transform: translate(10vw, 45vh);
    text-decoration: none;
    width: 80vw;
}

#name {
    font-family: 'myglaos';
    font-size: 7.5vw;
    color: var(--main-text-color);
}

#desc {
    font-family: Montserrat;
    font-size: 20px;
    color: var(--main-text-color);
    margin: 3vh 3vh;
}


.cover-link:hover {
    opacity: 1 ;
    color: var(--emphasis-text);
}

.cover-link {
    font-size: 30px;
    font-family: Montserrat;
    color: var(--main-text-color);
    text-decoration: none;
    margin: 3vh;
}

#landing-img {
    position:absolute;
    height: 38vh;
    transform: translateY(6vh);
    right: 10%;
    width: 80%;
    background-image: url("/static/images/landing-img1.png");
    background-position: center;
}

#landing-img::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 101%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--main-bg-color));
    pointer-events: none;
}

#scroll-text {
    color: var(--main-text-color);
	font-size: calc(var(--radius) / 6);
}

#scroll-circle {
	position: absolute;
	width: var(--d-outer);
	height: var(--d-outer);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    transform: translate(75vw, 25vh);
}

#logo {
	position: absolute;
	width: var(--d-inner);
	height: var(--d-inner);
	background-color: var(--main-text-color);
	border-radius: 50%;
}

#scroll-ind {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

#scroll-text span {
	position: absolute;
	left: 50%;
	transform-origin: 0 var(--radius);
}

.desc-carousel-wrapper {
    display: flex;
    flex-direction: row;
    width: 200vw;
    height: 20vh;
    justify-content: space-evenly;
    
    background-color: var(--main-bg-color);
    border-top: 2px solid var(--main-text-color);
    border-bottom: 2px solid var(--main-text-color);
    margin: 0;
}

.desc-carousel {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.desc-carousel p {
    font-size: 2.8vw;
    font-family: 'myglaos';
    color: var(--main-text-color);
}

#dc1 {
    animation: 10s carousel linear infinite;
}

#dc2 {
    animation: 12s carousel linear infinite;
}

#landing-p {
    font-weight: bold;
    padding: 10%;
    font-family: 'myglaos';
    font-size: 5vw;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

@keyframes carousel {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

#highlight-wrapper {
    transform: translateX(-15vw);
    background-color: var(--main-bg-color);

    display: flex;
    flex-direction: column;

    height: calc(var(--highlight-rows) * 24vw);
    width: 130vw;
    margin: 0;
    padding: 0;
}

.highlight-row {
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    height: 24vw;
    width: 130vw;
}

.highlight-row div {   
    transition: 0.5s;
    border: 3px solid var(--main-text-color);
    width: 26vw;
    height: 100%;
}

.highlight-info div {
    transition: 0.4s;
    display: none;
}

.title-row {
    height: 12vw;
    width: 130vw;
    transition: 0.5s;
    border: 3px solid var(--main-text-color);
    color: var(--main-text-color);
    font-size: 20vh;
    text-align: center;
    text-justify: center;
    font-family: 'myglaos';
}

.highlight-info {
    display: flex;
    flex-direction: row;
}

.highlight-info div {
    width: 50%;
    height: 100%;
    border: none;

    display: flex;
    flex-direction: column;
    padding: 10%;
}

.highlight-row div {
    padding: 0;
}

.highlight-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}   

.highlight-desc p {
    box-sizing: border-box;
    width: 100%;
    padding: 10%; 

    font-size: 20px;
    color: var(--main-text-color);
    border-left: 3px solid var(--main-text-color);
}

.filler {
    flex-grow: 1;
    border-left: 3px solid var(--main-text-color);
}

.hd2 {
    font-size: 17px;
    font-weight: bold;
    font-family: 'myglaos';
}

.hd1 {
    font-weight: bold;
    font-size: 20px;
}

.highlight-desc div {
    height: 10%;
    border-left: 3px solid var(--main-text-color);
    padding-left: 10%;
}

@media (orientation: portrait) {
    .vert-only {
        display: none;
    }

    .navbar-item {
        font-size: 8px;
    }

    #desc {
        font-size: 14px;
    }

    .cover-link {
        font-size: 18px;
    }

    #scroll-circle {
        transform: translate(70vw, 35vh);
    }

    .desc-carousel-wrapper {
        height: 7vh;
    }

    .title-row {
        font-size: 7.5vw;
    }

    .highlight-desc p {
        font-size: 14px;
    }

    .hd2 {
        font-size: 14px;
    }

    .hd1 {
        font-size: 12px;
    }
}

/*Open source styling below*/

.highlight-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: var(--main-bg-color);
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .3s ease;
}

.highlight-button::before,
.highlight-button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--main-text-color);
  transition: all .3s ease;
}

.highlight-button::before {
  top: 0;
  border-bottom-width: 0;
}

.highlight-button::after {
  bottom: 0;
  border-top-width: 0;
}

.highlight-button:active,
.highlight-button:focus {
  outline: none;
}

.highlight-button:active::before,
.highlight-button:active::after {
  right: 3px;
  left: 3px;
}

.highlight-button:active::before {
  top: 3px;
}

.highlight-button:active::after {
  bottom: 3px;
}

.highlight-button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.highlight-button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--main-text-color);
}

.highlight-button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--main-bg-color);
  transition: all .4s ease;
}

.highlight-button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--main-text-color);
  transform: skew(-15deg);
  transition: all .4s ease;
}

.highlight-button_text {
  position: relative;
}

.highlight-button:hover .highlight-button_text {
  color: var(--main-bg-color);
}

.highlight-button:hover {
  color: var(--main-bg-color);
}

.highlight-button:hover .highlight-button_sl {
  width: calc(100% + 15px);
}